$small-bgcolor: rgba(0, 0, 0, 0.5);
$main-pink: #e75d26;
$light-pink: #fd9794;
$main-yellow: #ffe48d;
$white: white;
$bgpink: #7E5748;
$lightning-yellow:#ffc400;
$lightning-blue: #008bfd;
$main-blue: #26cae7;
$light-cloud:#BCA7A1;
$dark-cloud: #5E3E36;
$bgcolor: linear-gradient(to top, $main-yellow, $light-pink);
$bgcolorfor480: linear-gradient(to left, #BCA7A1, #5E3E36);
$bgsnow: radial-gradient($main-blue, $white);
$font-main: Dosis,
sans-serif;
$font-secondary: Cabin,
sans-serif;
$light-white: rgb(219, 219, 219);